## Čištění dat 
### geolokace / 2+kk a 2+1 / prodeje / sloupec navíc
Pro přehlednost a lepši užití v Tableau jsme přejmenovaly geolokace. Dále jsme vybraly pouze byty s dispozicí 2+kk a 2+1 na prodej. Následně jsme odstranily zbývající irelevantní informace z datasetu (konkrétně sloupec subtype, který obsahoval kategorie jako např. fishpond)
```sql
CREATE OR REPLACE TABLE "sale_2kk_type" AS
SELECT 
    DISTINCT "id",
    "googleGeometry_location_coordinates_0" AS "lon",
    "googleGeometry_location_coordinates_1" AS "lat",
    * EXCLUDE ("id", "googleGeometry_location_coordinates_0", "googleGeometry_location_coordinates_1", "data_subtype")
FROM "casti_prahy_2"
WHERE 
    "data_offerType" = 'sale'
AND "data_arrangement" IN ('2+kk', '2+1')
AND "data_type" = 'apartment';
```