## Čištění dat
### Datum
Do datasetu jsme vytvořily čitelný formát datumu a také sloupce rok, měsíc, kvartál

```sql
CREATE OR REPLACE TABLE "vycistena_tabulka" AS
SELECT 
  EXTRACT(YEAR FROM TO_TIMESTAMP_NTZ("createdAt")) AS year,
  EXTRACT(MONTH FROM TO_TIMESTAMP_NTZ("createdAt")) AS month,
  EXTRACT(QUARTER FROM TO_TIMESTAMP_NTZ("createdAt")) AS quarter,
  TO_DATE(TO_TIMESTAMP_NTZ("createdAt")) AS created_date,
  * EXCLUDE "createdAt"
FROM "sale_2kk_type";
```