## Čištění dat
### Oprava sloupce s užitnou plochou
Došlo i na opravu rozbitého sloupce s užitnou plochou - pomocí napojení správného sloupce s plochou bytů z původní tabulky

```sql
CREATE OR REPLACE TABLE vycistena_tabulka_oprava AS(

WITH unikatni_items AS (
    SELECT DISTINCT "id", "data_livingArea"
    FROM "dataset-items"
)

SELECT 
    v.* EXCLUDE "data_livingArea",
    u."data_livingArea" AS "plocha"
FROM "vycistena_tabulka" v
LEFT JOIN unikatni_items u
    ON v."id" = u."id");
```