## SQL kódy využité pro stanovení modelového scénáře 

**nejčastější dispozice bytů**
```sql
SELECT "data_arrangement", COUNT(*)
FROM "casti_prahy_2"
WHERE "data_arrangement" != ''
GROUP BY 1
ORDER BY 2 DESC;
```
*→ odpověď: 2+kk*

**průměrný nájem pro 2+kk**
```sql
SELECT AVG("data_price")
FROM "casti_prahy_2"
WHERE "data_offerType" = 'rent' 
    AND "data_arrangement" IN ('2+kk')
    AND "data_price" IS NOT NULL
    AND "data_price" != '';
```
*→ odpověď: 19 191 Kč nájem* \
*k tomu byly přičteny poplatky zhruba 3 000 Kč → celkem tedy 22 000 Kč za měsíc*