## SQL k√≥dy pro zodpovƒõzen√≠ druh√© analytick√© ot√°zky
*üëâ Jak se ceny modelov√©ho bytu zmƒõnily za posledn√≠ roky? A jak se zmƒõnily mzdy?*


**v√Ωvoj ceny za m¬≤ v r≈Øzn√Ωch ƒç√°stech Prahy po letech**
```sql
SELECT
    "MC_spravne",
    "YEAR",
    ROUND(AVG("data_price"/"plocha")) AS "prumerna_cena_na_m2"
FROM "vycistena_tabulka_oprava_2"
WHERE 
        "data_price" IS NOT NULL
    AND "data_price" != ''
    AND "plocha" IS NOT NULL
    AND "plocha" != ''
    AND "MC_spravne" IS NOT NULL
GROUP BY "MC_spravne", "YEAR"
ORDER BY 1, 2 DESC;
```


**v√Ωvoj ceny za m¬≤ v r≈Øzn√Ωch ƒç√°stech Prahy - po letech a kvart√°lech**
```sql
SELECT
    "MC_spravne" AS MC,
    "YEAR" || '_' || "QUARTER" AS ROKKVARTAL,
    ROUND(AVG("data_price"/"plocha")) AS PRUMERNACENA
FROM "vycistena_tabulka_oprava_2"
WHERE 
        "data_price" IS NOT NULL
    AND "data_price" != ''
    AND "plocha" IS NOT NULL
    AND "plocha" != ''
    AND "MC_spravne" IS NOT NULL
GROUP BY 1, 2
ORDER BY 1, 2 DESC;
```


**najoinov√°n√≠ dat o mzd√°ch na hlavn√≠ dataset realit**
```sql
CREATE OR REPLACE TABLE "reality_mzdy" AS
SELECT * EXCLUDE "ROK"
FROM "vycistena_tabulka_oprava_2"
LEFT JOIN "Data_mzdy" ON "Data_mzdy"."ROK" = "vycistena_tabulka_oprava_2"."YEAR";
```

**najoinov√°n√≠ dat o inflaci na dataset reality_mzdy**
```sql
CREATE OR REPLACE TABLE "reality_mzdy_inflace" AS
SELECT * EXCLUDE "rok"
FROM "reality_mzdy"
LEFT JOIN "Data_inflace" ON "Data_inflace"."rok" = "reality_mzdy"."YEAR";
```

**porovn√°n√≠ v√Ωvoje pr≈Ømƒõrn√© ceny na m¬≤, medi√°nov√Ωch mezd a inflace v ƒçase**
```sql
SELECT 
    "YEAR" AS "ROK",
    ROUND(AVG("data_price"/"plocha")) AS "PRUMERNA_CENA",
    AVG("MEDIAN_CELKEM") AS "MEDIANOVA_MZDA",
    AVG("inflace") AS "INFLACE"
FROM "reality_mzdy_inflace"
WHERE 
        "data_price" IS NOT NULL
    AND "data_price" != ''
    AND "plocha" IS NOT NULL
    AND "plocha" != ''
GROUP BY 1
ORDER BY 1;
```