## SQL k√≥dy pro zodpovƒõzen√≠ t≈ôet√≠ analytick√© ot√°zky
*üëâ Dos√°hne modelov√Ω p√°r na hypot√©ku v roce 2030? Jak√© jsou jejich ≈°ance vzhledem k jejich mzdƒõ a bude to dostaƒçuj√≠c√≠ i p≈ôi rostouc√≠ rodinƒõ?*

**v√Ωpoƒçet pr≈Ømƒõrn√© plochy bytu**
```sql
SELECT AVG("plocha")
FROM "reality_mzdy"
WHERE "plocha" IS NOT NULL AND "plocha" != '';
```
*‚Üí odpovƒõƒè: 58 m¬≤*

**zobrazen√≠ cen byt≈Ø o 58 m¬≤ v r≈Øzn√Ωch mƒõstsk√Ωch ƒç√°stech v roce 2024 a 2030**
```sql
SELECT DISTINCT "MC_spravne", "Cena_2024", "Cena_2030"
FROM ALL_2030 AS "2030"
LEFT JOIN
(SELECT 
    "MC_spravne" AS "MC", 
    ROUND(AVG("data_price")) AS "Cena_2024",
FROM ALL_2030
WHERE 
        "data_price" IS NOT NULL
    AND "data_price" != ''
    AND "plocha" IS NOT NULL
    AND "plocha" != ''
    AND "MC_spravne" IS NOT NULL
    AND "YEAR" = 2024
GROUP BY 1)
ON "MC" = "2030"."MC_spravne"
WHERE "MC_spravne" IS NOT NULL;
```